.merah:hover{
    color: blue;
}

.ListProject {
    place-self: center;
    display: none
}

.textHeader:hover::after {
    opacity: 100%;
    color: #fee2e2;
    
}

.images {
    height: 240px;
    width: 240px;
}

.textProject {
    font-size: 24px;
    font-weight: bold; 
}